:root {
  --font-size: 14px;
  --font-weight: bold;
  --font: "Serious Shanns";
  --padding: 2px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* dark theme */
  /* --fg: #6ECFCF; */
  /* --bg: #2E3440; */
  /* --border: #282C34; */
  /* --main-fg: #51AFEF; */
  /* --accent-fg: #98be65; */

  /* light theme */
  --fg: #244242;
  --bg: #d5f0f0;
  --border: #282C34;
  --main-fg: #51AFEF;
  --accent-fg: #98be65;
}

/* nxtcoder17's */
div>.vimiumHintMarker {
  /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee)); */
  background: var(--bg) !important;
  border-color: var(--border) !important;
  text-shadow: none !important;
  box-shadow: var(--shadow) !important;
  padding: var(--padding) !important;
}

div>.vimiumHintMarker span {
  color: var(--fg) !important;
  font-weight: var(--font-weight);
  font-size: var(--font-size) !important;
  font-family: var(--font) !important;
  letter-spacing: 1px;
  /* padding: var(--padding) !important; */
}

div>.vimiumHintMarker>.matchingCharacter {
  opacity: 0.3 !important;
}

div>.vimiumHintMarker>.matchingCharacter~span {
  color: var(--main-fg) !important;
  letter-spacing: 1px;
}
