:root {
  --font-size: 12px;
  --font-weight: bold;
  --font: Recursive Sans Casual;
  --padding: 2px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* ---------- DOOM ONE ---------- */
  --fg: #51AFEF;
  --bg: #2E3440;
  --border: #282C34;
  --main-fg: #51AFEF;
  --accent-fg: #98be65;
}

/* nxtcoder17's */
div > .vimiumHintMarker {
  /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee)); */
  background: var(--bg) !important;
  border-color: var(--border) !important;
  text-shadow: none !important;
  box-shadow: var(--shadow) !important;
  padding: var(--padding) !important;
}

div > .vimiumHintMarker span {
  color: var(--fg) !important;
  font-weight: var(--font-weight);
  font-size: var(--font-size) !important;
  font-family: var(--font) !important;
  letter-spacing: 1px;
  /* padding: var(--padding) !important; */
}

div > .vimiumHintMarker > .matchingCharacter {
  opacity: 0.3 !important;
}

div > .vimiumHintMarker > .matchingCharacter ~ span {
  color: var(--main-fg) !important;
  letter-spacing: 1px;
}

/* /*****************************************************************************/ */
/* /*                                    CSS                                    */ */
/* /*****************************************************************************/ */
/**/
/* /* -------- HINTS -------- */ */
/* #vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker { */
/*   background: var(--bg) !important; */
/*   border: 1px solid var(--border) !important; */
/*   box-shadow: var(--shadow) !important; */
/*   padding: 6px 6px !important; */
/*   font-size: var(--font-size) !important; */
/* } */
/**/
/* #vimiumHintMarkerContainer div span { */
/*   color: var(--main-fg); */
/*   font-family: var(--font); */
/*   font-size: var(--font-size) !important; */
/*   font-weight: var(--font-weight); */
/*   text-shadow: none; */
/* } */
/**/
/* #vimiumHintMarkerContainer div > .matchingCharacter { */
/*   opacity: 0.3; */
/* } */
/**/
/* #vimiumHintMarkerContainer div > .matchingCharacter ~ span { */
/*   color: var(--main-fg); */
/* } */
/**/
/* /* -------- VOMNIBAR -------- */ */
/* #vomnibar { */
/*   animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards; */
/*   background: var(--bg); */
/*   border: none; */
/*   box-shadow: var(--shadow); */
/* } */
/**/
/* /* Animate Slide in */ */
/* @keyframes show { */
/*   0% { */
/*     opacity: 0; */
/*     transform: translateY(50px); */
/*   } */
/*   100% { */
/*     opacity: 1; */
/*     transform: translateY(0); */
/*   } */
/* } */
/**/
/* #vomnibar .vomnibarSearchArea, */
/* #vomnibar input { */
/*   background: transparent; */
/*   border: none; */
/*   box-shadow: none; */
/*   color: var(--fg); */
/*   font-family: var(--font); */
/*   font-size: var(--font-size) !important; */
/*   font-weight: var(--font-weight); */
/* } */
/**/
/* #vomnibar .vomnibarSearchArea { */
/*   padding: var(--padding) 30px; */
/* } */
/**/
/* #vomnibar input { */
/*   padding: var(--padding)} */
/**/
/* #vomnibar ul { */
/*   background: var(--bg); */
/*   border-top: 1px solid var(--border); */
/*   margin: 0; */
/*   padding: var(--padding); */
/* } */
/**/
/* #vomnibar li { */
/*   border-bottom: 1px solid var(--border); */
/*   padding: var(--padding); */
/* } */
/**/
/* #vomnibar li .vomnibarTopHalf, */
/* #vomnibar li .vomnibarBottomHalf { */
/*   padding: var(--padding) 0; */
/* } */
/**/
/* #vomnibar li .vomnibarSource { */
/*   color: var(--main-fg); */
/*   font-family: var(--font); */
/*   font-size: var(--font-size) !important; */
/*   font-weight: var(--font-weight); */
/* } */
/**/
/* #vomnibar li em, */
/* #vomnibar li .vomnibarTitle { */
/*   color: var(--main-fg); */
/*   font-family: var(--font); */
/*   font-size: var(--font-size) !important; */
/*   font-weight: var(--font-weight); */
/* } */
/**/
/* #vomnibar li .vomnibarUrl { */
/*   color: var(--fg); */
/*   font-family: var(--font); */
/*   font-size: var(--font-size) !important; */
/*   font-weight: var(--font-weight); */
/* } */
/**/
/* #vomnibar li .vomnibarMatch { */
/*   color: var(--accent-fg); */
/*   font-weight: normal; */
/* } */
/**/
/* #vomnibar li .vomnibarTitle .vomnibarMatch { */
/*   color: var(--main-fg); */
/* } */
/**/
/* #vomnibar li.vomnibarSelected { */
/*   background-color: var(--border); */
/* } */
/**/
/* /* -------- HUD -------- */ */
/* div.vimiumHUD { */
/*   background: var(--bg); */
/*   border: 1px solid var(--border); */
/*   box-shadow: var(--shadow); */
/* } */
/**/
/* div.vimiumHUD span#hud-find-input, */
/* div.vimiumHUD .vimiumHUDSearchAreaInner { */
/*   color: var(--fg); */
/*   font-family: var(--font); */
/*   font-size: var(--font-size) !important; */
/*   font-weight: var(--font-weight); */
/* } */
/**/
/* div.vimiumHUD .hud-find { */
/*   background-color: transparent; */
/*   border: none; */
/* } */
/**/
/* div.vimiumHUD .vimiumHUDSearchArea { */
/*   background-color: transparent; */
/* } */
/**/
