[Unit]
Description=battery checker

[Service]
; ExecStart=bash ./scripts/battery-checker.sh
ExecStart=notify-send "hi hello"

[Install]
WantedBy=timers.target
