"-- idea enhancements
set ideajoin
set ideamarks
set idearefactormode=keep

"-- vim plugins to emulate
set hlsearch
set ignorecase
set smartcase
set incsearch
set surround
set multiple-cursors

set vim-highlightedyank

let g:highlightedyank_highlight_duration = "300"
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

"-- conflicting keys
sethandler <C-w> a:ide
sethandler cc n-v:vim
sethandler <C-o> n:vim
sethandler <C-i> n:vim
sethandler <C-e> a:ide
sethandler <C-j> n:vim
sethandler <C-k> i-n:vim
sethandler <C-S-j> n:vim
sethandler <C-S-k> n:vim
sethandler <C-m> a:ide

sethandler <Tab> n:vim
sethandler <S-Tab> n:vim
"------------------

" -- key resets
nnoremap s <nop>
nnoremap cc <nop>
nnoremap ss :w<CR>
nnoremap ; :

set scrolloff=5 sidescrolloff=10

" integrate with system clipboard
" set clipboard=unnamedplus,unnamed,ideaput

let mapleader = "'"
nnoremap <leader>= :action EditorIncreaseFontSize<CR>
nnoremap <leader>- :action EditorDecreaseFontSize<CR>

nnoremap <leader>x :action CloseAllEditorsButActive<CR>

nmap <BS> :nohlsearch<CR>
"-- actions
nnoremap <Tab> :action NextTab<CR>
nnoremap <S-Tab> :action PreviousTab<CR>
nnoremap zz :action ViewNavigationBar \| :action ViewStatusBar<CR> \| :action EditorBreadcrumbsHideBoth<CR>

nnoremap sf :action GotoFile<CR>

"-- split navigation
nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl :action NextSplitter<CR>
nnoremap sh :action PrevSplitter<CR>

nmap sL :action TabShiftActions.ShiftRight<CR>
nmap sH :action TabShiftActions.ShiftLeft<CR>
nmap sJ :action TabShiftActions.ShiftDown<CR>
nmap sK :action TabShiftActions.ShiftUp<CR>

nnoremap si :action SplitVertically<CR>
nnoremap sm :action SplitHorizontally<CR>
nnoremap s0 :action Unsplit<CR>

nnoremap s; :action CommentByLineComment<CR>
vnoremap s; :action CommentByLineComment<CR>

nnoremap sx :action CloseAllEditorsButActive<CR>

nnoremap s/ :action FindInPath<CR>

nnoremap te :action EditSourceInNewWindow<CR>

" -- the goto's
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gu :action GotoSuperMethod<CR>
nmap gn :action GotoNextError<CR>
nmap gp :action GotoPrevError<CR>

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nnoremap rr :action Refactorings.QuickListPopupAction<CR>
vnoremap rr :action Refactorings.QuickListPopupAction<CR>
nmap K <Action>(QuickJavaDoc)
nnoremap <A-k> :action QuickImplementations<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>

nmap sn :action GotoNextError<CR>
nmap sp :action GotoPrevError<CR>
nmap sr :action Refactorings.QuickListPopupAction<CR>
nmap se :action ShowErrorDescription<CR>

nnoremap <C-CR> :action EditorCompleteStatement<CR>

" -- copy and pasting stuffs
nmap Y v$y
nmap cc "+y
vmap cc "+y
"don't overwrite register when pasting over selection
vnoremap p pgvy

" Folding
nnoremap <C-S-j> :action CollapseRegionRecursively<CR>
nnoremap <C-S-k> :action ExpandRegionRecursively<CR>

nnoremap <C-j> :action MethodDown<CR>
nnoremap <C-k> :action MethodUp<CR>
