" vim plugins to emulate
set hlsearch
set ignorecase
set smartcase
set incsearch
set surround
set multiple-cursors
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "200"
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

"-- conflicting keys
sethandler <C-w> a:ide
sethandler cc n-v:vim
sethandler <C-o> n:vim
sethandler <C-i> n:vim
sethandler <C-e> a:ide

sethandler <Tab> n:vim
sethandler <S-Tab> n:vim
"------------------

" keep some lines before and after the cursor visible
set scrolloff=5 sidescrolloff=10

" integrate with system clipboard
" set clipboard=unnamedplus,unnamed,ideaput

let mapleader = "'"
nnoremap <leader>= :action EditorIncreaseFontSize<CR>
nnoremap <leader>- :action EditorDecreaseFontSize<CR>

nnoremap <leader>x :action CloseAllEditorsButActive<CR>

nmap <BS> :nohlsearch<CR>

nnoremap s <nop>
nnoremap cc <nop>
nnoremap ss :w<CR>

"-- actions
nnoremap <Tab> :action PreviousTab<CR>
nnoremap <S-Tab> :action NextTab<CR>
nnoremap zz :action ToggleDistractionFreeMode<CR>

nnoremap sf :action GotoFile<CR>

nnoremap sj <C-w>j
nnoremap sk <C-w>k
" nnoremap sl <C-w>l
" nnoremap sh <C-w>h

nnoremap sl :action NextSplitter<CR>
nnoremap sh :action PrevSplitter<CR>

nnoremap si :action SplitVertically<CR>
nnoremap sm :action SplitHorizontally<CR>
nnoremap s0 :action Unsplit<CR>

nnoremap s; :action CommentByLineComment<CR>
vnoremap s; :action CommentByLineComment<CR>

nnoremap sx :action CloseAllEditorsButActive<CR>

nnoremap s/ :action FindInPath<CR>

nnoremap te :action EditSourceInNewWindow<CR>

nnoremap ; :

" -- the goto's
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gd :action GotoImplementation<CR>
nnoremap gu :action GotoSuperMethod<CR>

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nnoremap rr :action Refactorings.QuickListPopupAction<CR>
nnoremap K :action ShowErrorDescription<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>

nmap sn :action GotoNextError<CR>
nmap sp :action GotoPrevError<CR>
nmap se :action ShowErrorDescription<CR>

nnoremap <C-CR> :action EditorCompleteStatement<CR>

nmap Y "+y
vmap Y "+y

nmap cc "+y
vmap cc "+y

" don't overwrite register when pasting over selection
vnoremap p pgvy

" Folding
nnoremap <C-j> :action CollapseRegionRecursively<CR>
nnoremap <C-k> :action ExpandRegionRecursively<CR>
