[Desktop Entry]
Name=Postman
Exec=/home/nxtcoder17/apps/PostmanCanary/PostmanCanary
Icon=/home/nxtcoder17/apps/PostmanCanary/postman.png
Type=Application

